<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/5be1880edb.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Say something</title>
    <style>
  
      .container h1 {
        text-align: center;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #cc7a00;
      }
    input[type=submit] {
        width: 100%;
        background-color: #cc7a00;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #ff9800;
      }
      .active {
      background-color: #cc7a00;
      }
    </style>
    
  </head>
  <body>
    <header>
      <nav>
      <ul>
        <li><a href="http://127.0.0.1:8000/"><i class="fas fa-home"></i></a></li>
        <li><a href="http://127.0.0.1:8000/lab-4/">Note</a></li>
        <li><a href="http://127.0.0.1:8000/lab-4/note-list/">Note Card</a></li>
        <li><a class="active" href="http://127.0.0.1:8000/lab-4/add-note/">Note Form</a></li>
      </ul>
      </nav>
    </header>
    <br/>
      <div class = "container">
        <h1>What do you gonna say?</h1>
        <form action = "" method = "POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="to">To</label>
            <input type="text" class="form-control" id="to" name="to" placeholder="To" required>
          </div>
          <div class="form-group">
            <label for="from_user">From</label>
            <input type="text" class="form-control" id="from_user" name="from_user" placeholder="From" required>
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" name="message" rows="3" placeholder="Enter your message here" required></textarea>
          </div>
          <input type="submit" value="Submit">
        </form>

      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
  </html>