<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/5be1880edb.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>My Note</title>
    <style>
      div, form, input, select, textarea , label { 
      font-size: 14px;
      color: black;
      
      }
      h1 {
        text-align: center;
      }
      #friendlist {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse:collapse;
        width: 100%;
        
      }
      
      #friendlist td, #friendlist th {
        border: 1px solid black;
        padding: 8px;
      }
      
      #friendlist tr:nth-child(even){background-color: #f2f2f2;}
      
      #friendlist tr:hover {background-color: #ddd;}
      
      #friendlist th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #cc7a00;
        color: white;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #cc7a00;
      }
      .active {
      background-color: #cc7a00;
      }
      </style>
  </head>
  <body>
    <header>
      <nav>
      <ul>
        <li><a href="http://127.0.0.1:8000/"><i class="fas fa-home"></i></a></li>
        <li><a class="active" href="http://127.0.0.1:8000/lab-4/">Note</a></li>
        <li><a href="http://127.0.0.1:8000/lab-4/note-list/">Note Card</a></li>
        <li><a href="http://127.0.0.1:8000/lab-4/add-note/">Note Form</a></li>
      </ul>
      </nav>
    </header><br/><br/>
    <div class = "container">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    {% endif %}

    
      <h1>Note for you!</h1>
      <table id="friendlist">
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
        <!-- TODO loop from Friend model -->
        <!-- EXAMPLE SECTION -->
        {% for element in data %} <!--create a loop-->
        <tr>
          <td>{{ element.to }}</td>
          <td>{{ element.from_user }}</td>
          <td>{{ element.title }}</td>
          <td>{{ element.message }}</td>
        </tr>
        {% endfor %}
        <!-- END SECTION -->
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>