<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/5be1880edb.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Wall of Message</title>
    <style>
    .container{
      padding: 2rem 0rem;
    }
    .card {
        margin-bottom: 2rem;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #cc7a00;
      }
      .active {
      background-color: #cc7a00;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
      <ul>
        <li><a href="http://127.0.0.1:8000/"><i class="fas fa-home"></i></a></li>
        <li><a href="http://127.0.0.1:8000/lab-4/">Note</a></li>
        <li><a class="active" href="http://127.0.0.1:8000/lab-4/note-list/">Note Card</a></li>
        <li><a href="http://127.0.0.1:8000/lab-4/add-note/">Note Form</a></li>
      </ul>
      </nav>
    </header>
    <div class="container">
        <div class="row">
          {% for element in data %}
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="card bg-light">
              <div class="card-body">
                <h4 class="card-title">{{ element.title }}</h4>
                <h6 class="card-subtitle mb-2">To: {{ element.to }}</h6>
                <h6 class="card-subtitle mb-2">From: {{ element.from_user }}</h6>
                <h6>Message: </h6>
                <p class="card-text">{{ element.message }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>

          
          
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>