<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
      body, div, form, input, select, textarea , label { 
      
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: black;
      
      }
      h1 {
        text-align: center;
      }
      #friendlist {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse:collapse;
        width: 100%;
        
      }
      
      #friendlist td, #friendlist th {
        border: 1px solid black;
        padding: 8px;
      }
      
      #friendlist tr:nth-child(even){background-color: #f2f2f2;}
      
      #friendlist tr:hover {background-color: #ddd;}
      
      #friendlist th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #cc7a00;
        color: white;
      }
      
      </style>
  </head>
  
  <body>
    <h1>😊 My Friends 😊</h1>
    <table id="friendlist">
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>Date of Birth</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% for element in friends %} <!--create a loop-->
      <tr>
        <td>{{ element.name }}</td>
        <td>{{ element.npm }}</td>
        <td>{{ element.date }}</td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
