<!DOCTYPE html>
<html>
  <head>
    <title>Become My Friend!</title>
    <style>
      .testbox{
        margin: 0 auto;
        border: 2px solid black;
        padding : 10px;
        width: 250px;
      }
      body, div, form, input, select, textarea , label { 
      
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color:black;
      
      }
      
      input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      input[type=date], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      input[type=submit] {
        width: 100%;
        background-color: #cc7a00;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #ff9800;
      }
      
      h1 {
        text-align: center;
      }
      div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      
        
      
      </style>
  </head>
  <body>
    <h1>Become My Friend!</h1>
    <div class="testbox">
      
      <form action = "" method = "POST">
        {% csrf_token %}
        <label for="fname">Name</label>
        <input id="name" type="text" name="name" id = "name" placeholder="Your name.." required/>
        <label for="npm">NPM</label>
        <input id="npm" type="text" name="npm" id = "npm"placeholder="Your NPM.." required/>
        <label for="date">Date of Birth</label>
        <input id="date" type="date" name="date" id = "date" required/>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>