<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My lab 2</title>
  </head>
  <body>
    <h1>
        Welcome to Lab-2
    </h1>
    <table>
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
        <!-- TODO loop -->
        <!-- EXAMPLE SECTION -->
        {% for element in data %} <!--create a loop-->
        <tr>
          <td>{{ element.to }}</td>
          <td>{{ element.from_user }}</td>
          <td>{{ element.title }}</td>
          <td>{{ element.message }}</td>
        </tr>
        {% endfor %}
        <!-- END SECTION -->
      </table>
  </body>
</html>